body {
  margin: 0px 64px 96px 64px;
  max-width: 960px;
}

.code {
  margin: 8px;
  border-radius: 4px;
  max-width: 800px;
  padding: 16px;
  background: #e0e0e0;
  white-space: pre;
  overflow-x: scroll;
}

code {
  background: #e0e0e0;
}

img {
  max-width: 960px;
}